<form method="GET" action="/offset">

<h3>Your search of {{ search }}</h3>

{{#if hasResult}}
    <div class="col">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>app_id</th>
                    <th>name</th>
                    <th>category</th>
                    <th>rating</th>
                    <th>installs</th>
                </tr>
            </thead>
            <tbody>
                {{#each recs}}
                <tr>
                    <td>{{this.app_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.rating}}</td>
                    <td>{{this.installs}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col"><button name="buttons" type="submit" value="-10" class="btn btn-lg btn-primary">&laquo; Previous</button></div>
        <div class="col text-right"><button name="buttons" type="submit" value="10" class="btn btn-lg btn-primary">Next &raquo;</button></div>
    </div>

    <input type="hidden" name="search" value={{ search }}>

{{else}}
    <h3>Your search produces no result</h3>
{{/if}}

</form>